<a href="https://colab.research.google.com/github/TinaTing08/Machine-Learning/blob/main/TFIDF.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import sklearn as sk
import math 
first= 'And our restaurant in New York serves croquets and bitterballen'
second= 'In the Netherlands you retrieve croquets and frikandellen from the wall'
#split so each word have their own string
first = first.split(" ")
second= second.split(" ")
#join them to remove common duplicate words
total= set(first).union(set(second))
print(total)
#Now lets add a way to count the words using a dictionary key-value pairing for both sentences
wordDictA = dict.fromkeys(total, 0) 
wordDictB = dict.fromkeys(total, 0)
for word in first:
    wordDictA[word]+=1
    
for word in second:
    wordDictB[word]+=1
#put them in a dataframe and then view the result:
pd.DataFrame([wordDictA, wordDictB])

{'And', 'you', 'frikandellen', 'croquets', 'from', 'in', 'New', 'Netherlands', 'retrieve', 'serves', 'restaurant', 'York', 'In', 'the', 'our', 'wall', 'bitterballen', 'and'}
{'And': 1, 'you': 0, 'frikandellen': 0, 'croquets': 1, 'from': 0, 'in': 1, 'New': 1, 'Netherlands': 0, 'retrieve': 0, 'serves': 1, 'restaurant': 1, 'York': 1, 'In': 0, 'the': 0, 'our': 1, 'wall': 0, 'bitterballen': 1, 'and': 1}

,And,you,frikandellen,croquets,from,in,New,Netherlands,retrieve,serves,restaurant,York,In,the,our,wall,bitterballen,and
0,1,0,0,1,0,1,1,0,0,1,1,1,0,0,1,0,1,1
1,0,1,1,1,1,0,0,1,1,0,0,0,1,2,0,1,0,1

In [5]:
#Now writing the TF function:
def computeTF(wordDict, bow):
    tfDict = {}
    bowCount = len(bow)
    for word, count in wordDict.items():
        tfDict[word] = count/float(bowCount)
    return tfDict
#running our sentences through the tf function:
tfFirst = computeTF(wordDictA, first)
tfSecond = computeTF(wordDictB, second)
#Converting to dataframe for visualization
tf_df= pd.DataFrame([tfFirst, tfSecond])
tf_df

,And,you,frikandellen,croquets,from,in,New,Netherlands,retrieve,serves,restaurant,York,In,the,our,wall,bitterballen,and
0,0.1,0.000000,0.000000,0.100000,0.000000,0.1,0.1,0.000000,0.000000,0.1,0.1,0.1,0.000000,0.000000,0.1,0.000000,0.1,0.100000
1,0.0,0.090909,0.090909,0.090909,0.090909,0.0,0.0,0.090909,0.090909,0.0,0.0,0.0,0.090909,0.181818,0.0,0.090909,0.0,0.090909

In [7]:
#creating the log portion
def computeIDF(docList):
    idfDict = {}
    N = len(docList)
    
    idfDict = dict.fromkeys(docList[0].keys(), 0)
    for doc in docList:
        for word, val in doc.items():
            if val > 0:
                idfDict[word] += 1
    
    for word, val in idfDict.items():
        idfDict[word] = math.log10(N / float(val))
        
    return idfDict
#inputing our sentences in the log file
idfs = computeIDF([wordDictA, wordDictB])
#The actual calculation of TF*IDF from the table above:
def computeTFIDF(tfBow, idfs):
    tfidf = {}
    for word, val in tfBow.items():
        tfidf[word] = val*idfs[word]
    return tfidf
#running our two sentences through the IDF:
idfFirst = computeTFIDF(tfFirst, idfs)
idfSecond = computeTFIDF(tfSecond, idfs)
#putting it in a dataframe
idf= pd.DataFrame([idfFirst, idfSecond])
idf

,And,you,frikandellen,croquets,from,in,New,Netherlands,retrieve,serves,restaurant,York,In,the,our,wall,bitterballen,and
0,0.030103,0.000000,0.000000,0.0,0.000000,0.030103,0.030103,0.000000,0.000000,0.030103,0.030103,0.030103,0.000000,0.000000,0.030103,0.000000,0.030103,0.0
1,0.000000,0.027366,0.027366,0.0,0.027366,0.000000,0.000000,0.027366,0.027366,0.000000,0.000000,0.000000,0.027366,0.054733,0.000000,0.027366,0.000000,0.0